.infoResults {
  margin: 1em 0 1em 0;
}
.avatar{
  width: 30px;
}

.user {
  font-weight: bold !important;
}

.pagination{
  display: flex;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
}